{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container postadcontainer">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Post ad</h1>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <form method="POST" enctype="multipart/form-data" id="postForm">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
        <!-- End of Content -->
    </div>
{% endblock %}

