{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Browse Ads</h1>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">

                <p class="browseads advertiserdetails regFormPara"><strong>Advertiser: </strong>{{ product.advertiser.username }}</p>
                <hr>
            </div>
            <div class="col-md-8 borderleft">
                <h3>{{ product.item }}</h3>
                {% if product.image %}
                    <img class="imageplaceholder" src="{{ MEDIA_URL }}{{ product.image }}"
                         style="width:300px; height: 266px; background-color: #12ABB2; color: #ffffff;">
                {% else %}
                    <div class="imageplaceholder">No images available</div>
                {% endif %}
                <p class="browseads regFormPara"><strong>Description: </strong>{{ product.description }}</p>
                <p class="browseads regFormPara"><strong>Price: </strong> &euro;{{ product.price }}</p>
                <p class="browseads regFormPara"><strong>Views: </strong> {{ product.views }}</p>
                <hr>
                <p>
                <button class="btn btn-success" onclick="location.href='{% url 'products' %}'">
                        Back to all ads
                    </button>
                    <button class="btn btn-success" onclick="location.href='{% url 'add_to_cart' product.id %}'">
                        Add to cart
                    </button>

                </p>
            </div>
        </div>
    </div>
    <!-- End of Content -->
    </div>
{% endblock %}








