
Skip to content
This repository

    Pull requests
    Issues
    Marketplace
    Explore

    @regatta28

0
{% extends 'base.html' %}
{% load static from staticfiles %}
{% load gravatar %}
{% load bootstrap_tags %}
{% block content %}
    <div class="whiteContainer">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Browse Products</h1>

        <!-- Content Row -->
        <div class="row">
        
                {% for product in products %}
                    <div class="row adlistitem">
                        <hr>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {% if product.image %}
                                <img class="imageplaceholder" src="{{ MEDIA_URL }}{{ product.image }}" style="width:250px; height: 266px; background-color: #12ABB2; color: #ffffff;">
                            {% else %}
                                <div class="imageplaceholder">No images available</div>
                            {% endif %}
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-12">
                            <h3>{{ product.item }}</h3>
                            <div>
                                <p class="browseads"><strong>Price: </strong> &euro;{{ product.price }}</p>
         
                                <hr>
                                <p><button class="btn btn-success" onclick="location.href='{% url 'productdetails' product.id %}'">View ad
                                        </button>
                                <form method='post' action='{% url 'add_to_cart' product.id %}'>
                                {% csrf_token %}
                                    <div class='input-group'>
                                        <input name='quantity' type='number' min='1' max='999' class='form-control' placeholder='Quantity'>
                                        <span class='input-group-btn'>
                                        <button class='btn btn-success' type='submit'>Add</button>
                                        </span>
                                    </div>
                                </form>
                                </p>
                            </div>
                        </div>
                   
                    </div>
                
                {% endfor %}
            </div>
        
        <!-- End of Content -->
    </div>
{% endblock %}
