{% extends 'base.html' %}
{% load static from staticfiles %}
{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>My Profile</h1>


        <!-- Content Row -->
        <div class="row">

            <div class="col-lg-9 col-md-8 col-sm-12 borderleft">
                <p class="browseads advertiserdetails"><strong>Username: </strong>{{ user.username }}</p>
                <p class="browseads advertiserdetails"><strong>Email address: </strong>{{ user.email }}</p>


                <p class="myadverts"><strong>My listed adverts:</strong></p>
                {% for product in products %}
                    {% if user.id == product.advertiser_id %}
                        <p class="browseads"><strong>Advert title: </strong>{{ product.item }}</p>
                        <div class='product' style='background-image: url("{{ MEDIA_URL }}{{ item.product.image }}")'></div>
                        <div class='caption'>
                            <h3>{{ item.product.name }}</h3>
                            <p class='product-description'>{{ item.product.description }}</p>
                            <p>{{ item.product.price }}</p>
                            <p>
                         </div>
                        <button class="btn btn-success" onclick="location.href='{% url 'edit_ad' product.id %}'">Edit
                            ad
                        </button>
                        <hr>
           
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- End of Content -->
    </div>
{% endblock %}



