{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Browse Products</h1>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% for product in products %}
                    <div class="row adlistitem">
                        <hr>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {% if product.image %}
                                <img class="imageplaceholder" src="{{ MEDIA_URL }}{{ product.image }}" style="width:300px; height: 266px; background-color: #12ABB2; color: #ffffff;">
                            {% else %}
                                <div class="imageplaceholder">No images available</div>
                            {% endif %}
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-12">
                            <h3>{{ product.item }}</h3>
                            <div>
                                <p class="browseads"><strong>Price: </strong> &euro;{{ product.price }}</p>
         
                                <hr>
                                <p><button class="btn btn-success" onclick="location.href='{% url 'productdetails' product.id %}'">View ad
                                        </button>
                                <button class="btn btn-success" onclick="location.href='{% url 'add_to_cart' product.id %}'">Add to cart
                                        </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}

            </div>
        </div>
        <!-- End of Content -->
    </div>
{% endblock %}


