{% extends 'base.html' %}


{% block page_title %}Registration Page{% endblock %}

{% block page_heading %}User Registration{% endblock %}
{% load bootstrap_tags %}
{% block content %}
<p class="regFormPara">If you already have an account you can <a href="{%url 'login' %}">Sign In</a></p>

<form method="POST" class="regForm regFormPara">
    {% csrf_token %}
    {{ registration_form | as_bootstrap }}
    <button type="submit" class="btn btn-success">Register</button>
</form>
<div class="postadcontainer"></div>
{% endblock %}





